.P5Bobd {
    background-color: green !important;
}




/* #tads, #taw,
.ads-visurl > span {
    background-color: red !important;
}

.qGXjvb {
    background-color:red !important;
}



.mnr-c {
    background-color:red !important;
}

.cu-container {
    background-color:red !important;
}

.pla-unit-container{
    background-color:red !important;
}

.VqFMTc, .p8AiDd {
    background-color:red !important;
}

[data-text-ad="1"] {
    background-color:red !important;
}
 */
